/*Fonts*/
@font-face {
    font-family: poppinsregular;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: poppinsbold;
    src: url("../fonts/Poppins-Bold.ttf");
}
/*Font sizes*/
body{
    font-family: poppinsregular;
    font-size: 16px;
}
.product-body-txt{
    font-family: poppinsregular;
    font-size: 17px;
}
h2{
    font-family: poppinsbold;
    font-size: 18px;
    text-transform: uppercase;
}
h3{
    font-family: poppinsbold;
    font-size: 16px;
    text-transform: uppercase;
}
/*Header lines*/
.vertical-line {
    border-left: 1px solid lightgray;
    height: 40px;
}
.breadcrumb-divider {
    color: gray;
    padding: 0px 10px;
    display: inline;
}
/*Left menu product options*/
.product-category{
    font-family: poppinsregular;
    font-size: 16px;
    color: #888888;
    text-transform: uppercase;
}
.product-price-slider, .brands-names, .operation-systems{
    font-family: poppinsregular;
    color: #888888;
    font-size: 16px;
    text-transform: uppercase;
}
.product-tags{
    font-family: poppinsbold;
    font-size: 16px;
    color: #888888;
    text-transform: uppercase;
}
/*Hero img margin*/

/*Highlight color*/

/*Footer*/
.footer-text-news{
    font-family: poppinsbold;
    font-size: 30px;
}





/*Media queries*/
@media (max-width: 1024px) {
    body {
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 14px;
        text-align: center;
    }
}